<div class="modal nk-modal fade dungeon_event"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="top: 0px;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title nk-title" id="mySmallModalLabel">Создание Данжи/Арена</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="ion-android-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for  :dungeon_event, url: dungeon_event_path   do |f|%>
            <%=f.text_field :event_name, :placeholder =>'Название события*', :required => true ,class:'form-control'%>
            <div class="nk-gap-1"></div>
            <div class="row">
              <div class="col-6">
                <select name="event_day" class="form-control" required>
                  <option disabled="" selected="">Дата события*</option>
                  <%@current_week.each do |w|%>
                      <%unless Date.today > w%>
                          <option value="<%=w.strftime('%d/%m/%Y')%>"><%=w.strftime('%d/%m/%Y')%></option>
                      <%end%>
                  <%end%>
                </select>
              </div>
              <div class="col-6">
                <select name="event_time" class="form-control" required>
                  <option disabled="" selected="">Время события*</option>
                  <%@event_time.each do |t|%>

                      <option value="<%=t%>"><%=t%></option>

                  <%end%>
                </select>
              </div>
            </div>
            <div class="nk-gap-1"></div>

            <div class="row">
              <div class="col-6">
                <select name="event_discord" class="form-control" required>
                  <option disabled="" selected="">Канал в Discord*</option>
                  <%@event_discord.each do |t|%>
                      <option value="<%=t%>"><%=t%></option>
                  <%end%>
                </select>
              </div>
              <div class="col-6">
                <%=f.text_field :event_link, :placeholder =>'Ссылка на обучение' ,class:'form-control'%>
              </div>
            </div>






            <div class="nk-gap-1"></div>
            Информация о событии*:
            <textarea class="nk-summernote"  id="event_info" name="event_info"  required="required" rows="18"></textarea>
            <div class="nk-gap-1"></div>
            <p>Основные игроки (роли)*:</p>
          <div class="row">
            <div class="col-3">
              <select name="event_pve_main_player1" class="form-control" required>
                <option disabled="" selected="">Роль 1</option>
                <option value="tank">ТАНК</option>
                <option value="heal">ХИЛ</option>
                <option value="dd">ДД</option>
              </select>
            </div>
            <div class="col-3">
              <select name="event_pve_main_player2" class="form-control" required>
                <option disabled="" selected="">Роль 2</option>
                <option value="tank">ТАНК</option>
                <option value="heal">ХИЛ</option>
                <option value="dd">ДД</option>
              </select>
            </div>
            <div class="col-3">
              <select name="event_pve_main_player3" class="form-control" required>
                <option disabled="" selected="">Роль 3</option>
                <option value="tank">ТАНК</option>
                <option value="heal">ХИЛ</option>
                <option value="dd">ДД</option>
              </select>
            </div>
            <div class="col-3">
              <select name="event_pve_main_player4" class="form-control" required>
                <option disabled="" selected="">Роль 4</option>
                <option value="tank">ТАНК</option>
                <option value="heal">ХИЛ</option>
                <option value="dd">ДД</option>
              </select>
            </div>
          </div>
            <div class="nk-gap-1"></div>
            <p>Запасные игроки (роли)*:</p>
            <div class="row">
              <div class="col-3">
                <select name="event_pve_add_player1" class="form-control" required>
                  <option disabled="" selected="">Роль 1</option>
                  <option value="tank">ТАНК</option>
                  <option value="heal">ХИЛ</option>
                  <option value="dd">ДД</option>
                </select>
              </div>
              <div class="col-3">
                <select name="event_pve_add_player2" class="form-control" required>
                  <option disabled="" selected="">Роль 2</option>
                  <option value="tank">ТАНК</option>
                  <option value="heal">ХИЛ</option>
                  <option value="dd">ДД</option>
                </select>
              </div>
              <div class="col-3">
                <select name="event_pve_add_player3" class="form-control" required>
                  <option disabled="" selected="">Роль 3</option>
                  <option value="tank">ТАНК</option>
                  <option value="heal">ХИЛ</option>
                  <option value="dd">ДД</option>
                </select>
              </div>
              <div class="col-3">
                <select name="event_pve_add_player4" class="form-control" required>
                  <option disabled="" selected="">Роль 4</option>
                  <option value="tank">ТАНК</option>
                  <option value="heal">ХИЛ</option>
                  <option value="dd">ДД</option>
                </select>
              </div>
            </div>
            <div class="nk-gap-1"></div>
            <%= submit_tag 'Отправить', class:'nk-btn  nk-btn-color-main-1',style:'border: 1px solid;'%>
        <% end %>

      </div>
    </div>
  </div>
</div>
