
<div id="whresult" class="modal nk-modal fade  in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: block; padding-right: 17px;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="ion-android-close"></span>
        </button>
        <h4 class="modal-title nk-title" id="myLargeModalLabel">Аккаунт менеджер</h4>
      </div>
      <div class="modal-body">
        <p>
          <%if flash[:wh_send]%>

            <div class="nk-info-box bg-success">
              <div class="nk-info-box-icon">
                <i class="ion-alert-circled"></i>
              </div>
              <%=flash[:wh_send]%>
              <br>
              <p style="    padding: 10px;
                  font-size: 22px;
                  background-color: #0e0e0e;
                  border-radius: 5px;">Также проверить статус вашего STEAM ID можно по <a href="/id_check/<%=flash[:steamid]%>" target="_blank"> этой ссылке</a></p>
            </div>
            <%if flash[:wh_reg_err]%>
                <div class="nk-info-box bg-danger">
                  <div class="nk-info-box-icon">
                    <i class="ion-alert-circled"></i>
                  </div>
                  <%=flash[:wh_reg_err]%>
                </div>
            <%end%>
            <%if flash[:wh_reg_ok]%>
                <div class="nk-info-box bg-success">
                  <div class="nk-info-box-icon">
                    <i class="ion-alert-circled"></i>
                  </div>
                  <%=flash[:wh_reg_ok]%>
                </div>
            <%end%>

          <%end%>
          <%if flash[:wh_error]%>
            <div class="nk-info-box bg-danger">
              <div class="nk-info-box-icon">
                <i class="ion-alert-circled"></i>
              </div>
              <%=flash[:wh_error]%>
            </div>

          <%end%>

        </p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(window).load(function(){
        $('#whresult').modal('show');
    });
</script>