<div class="nk-page-background op-5" data-bg-mp4="<%= asset_path('bg-2.mp4') %>" data-bg-webm="<%= asset_path('bg-2.webm') %>" data-bg-ogv="<%= asset_path('bg-2.ogv') %>" data-bg-poster="<%= asset_path('bg-2.jpg') %>"></div>
<div class="nk-main">
  <!-- START: Header Title -->
  <!--
  Additional Classes:
      .nk-header-title-sm
      .nk-header-title-md
      .nk-header-title-lg
      .nk-header-title-xl
      .nk-header-title-full
      .nk-header-title-parallax
      .nk-header-title-parallax-opacity
      .nk-header-title-boxed
-->
  <div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
    <div class="bg-image">
      <div style="background-image: url(<%=image_path('lk_bg2.jpg') %>);" class="op-5"></div>
    </div>
    <div class="nk-header-table">
      <div class="nk-header-table-cell">
        <div class="container"></div>
      </div>
    </div>
  </div>
  <!-- END: Header Title -->
  <div class="container">
    <div class="nk-social-profile nk-social-profile-container-offset">
      <div class="row">
        <div class="col-md-5 col-lg-3">
          <div class="nk-social-profile-avatar">
            <a href="#"><img src="/images/avatars/<%= @player.player_avatar%>" alt="nK"></a>
          </div>
        </div>
        <div class="col-md-7 col-lg-9">
          <div class="nk-social-profile-info">
            <div class="nk-gap-2"></div>
            <div class="nk-social-profile-info-last-seen">Дата регистрации : <%= @player.created_at.strftime("%d.%m.%Y")%> | Последний вход : <%= @player.player_lastlogin.nil? ? 'НИКОГДА' : @player.player_lastlogin.strftime("%d.%m.%Y")%>  </div>
            <h1 class="nk-social-profile-info-name"><%= @player.player_nickname%></h1>
            <div class="nk-social-profile-info-username home-game-info" >
              <%if @player.squad.id == @player.squad_leader%>
                  Лидер отряда: <%= @player.squad.squad_name%>
              <%else%>
                  Ранг: <%= @player.player_rank%>
                  <%end%>


            </div>

            <div class="nk-social-profile-info-actions">
              <% if logged_in? %>
              <button class="nk-btn nk-btn-lg link-effect-4" data-toggle="modal" data-target=".privatemsg">Личное сообщение</button>
              <% else %>
                  <span class="pull-left nk-btn-color-danger"> ГОСТИ НЕ МОГУТ ОТПРАВЛЯТЬ ЛИЧНЫЕ СООБЩЕНИЯ</span>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row vertical-gap">
      <div class="col-lg-3 nk-sidebar-sticky-parent" style="">
        <!--
            START: Sidebar

            Additional Classes:
                .nk-sidebar-left
                .nk-sidebar-right
                .nk-sidebar-sticky
        -->
        <aside class="nk-sidebar nk-sidebar-left nk-sidebar-sticky"><div class="" style="">
          <div class="nk-gap-2"></div>


          <div class="nk-social-menu d-none d-lg-block">
            <ul>

              <li>  VK : <%= @player.player_vk_link%></li>

              <li>  Discord : <%= @player.player_discord_link%></li>


            </ul>
          </div>

          <div class="nk-accordion d-lg-none" id="nk-social-menu-mobile" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="nk-social-menu-mobile-1-heading">
                <a data-toggle="collapse" data-parent="#nk-social-menu-mobile" href="#nk-social-menu-mobile-1" aria-expanded="true" aria-controls="nk-social-menu-mobile-1" class="collapsed">
                  ИНФОРМАЦИЯ О ИГРОКЕ
                </a>
              </div>
              <div id="nk-social-menu-mobile-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nk-social-menu-mobile-1-heading">
                <div class="nk-social-menu">
                  <ul>


                    <li>-</li>
                    <li>  VK : <%= @player.player_vk_link%></li>

                    <li>  Discord : <%= @player.player_discord_link%></li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="nk-gap-4 d-none d-lg-block"></div>
        </div></aside>
        <!-- END: Sidebar -->
      </div>
      <div class="col-lg-9">
        <div class="nk-gap-2 d-none d-lg-block"></div>

        <div class="nk-social-container">
          <%unless @player.player_info == ''%>

              <%= @player.player_info.html_safe%>
          <%  end %>

        </div>

        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
      </div>
    </div>



  </div>
</div>

<div class="modal nk-modal fade privatemsg" id tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="top: 30%;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title nk-title" id="mySmallModalLabel">Сообщение для игрока <%=@player.player_nickname %></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="ion-android-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for  :sendpm, url: sendpm_path , :html => { :id => 'pmform'}, remote: true  do |f|%>
            <%=f.text_field :message_txt, :placeholder =>'Ваше сообщение', :required => true ,class:'form-control'%>
            <div class="nk-gap-2"></div>
            <input  name="player_id" value="<%=@player.id%>" type="hidden" />

            <%= submit_tag 'Отправить', class:'nk-btn  nk-btn-color-main-1'%>
        <% end %>
        <div id="pmsend" style="display: none; ">
          <div class="nk-info-box bg-success" >
            <div class="nk-info-box-icon">
              <i class="ion-information-circled"></i>
            </div>
            Сообщение отправлено. Спасибо.
          </div>
          <button type="button" class="nk-btn" data-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</div>