<div class="nk-page-background op-5" data-bg-mp4="<%= asset_path('bg-2.mp4') %>" data-bg-webm="<%= asset_path('bg-2.webm') %>" data-bg-ogv="<%= asset_path('bg-2.ogv') %>" data-bg-poster="<%= asset_path('bg-2.jpg') %>"></div>
<div class="nk-main">
  <!-- START: Header Title -->
  <!--
  Additional Classes:
      .nk-header-title-sm
      .nk-header-title-md
      .nk-header-title-lg
      .nk-header-title-xl
      .nk-header-title-full
      .nk-header-title-parallax
      .nk-header-title-parallax-opacity
      .nk-header-title-boxed
-->
  <div class="nk-header-title nk-header-title-sm nk-header-title-parallax nk-header-title-parallax-opacity">
    <div class="bg-image">
      <div style="background-image: url(<%=image_path('lk_bg2.jpg') %>);" class="op-5"></div>
    </div>
    <div class="nk-header-table">
      <div class="nk-header-table-cell">
        <div class="container"></div>
      </div>
    </div>
  </div>
  <!-- END: Header Title -->
  <div class="container">
    <div class="nk-social-profile nk-social-profile-container-offset">
      <div class="row">
        <div class="col-md-5 col-lg-3">
          <div class="nk-social-profile-avatar">
            <a href="#"><img src="/images/avatars/<%= @player.player_avatar%>" alt="nK"></a>
          </div>
        </div>
        <div class="col-md-7 col-lg-9">
          <div class="nk-social-profile-info">
            <div class="nk-gap-2"></div>
            <div class="nk-social-profile-info-last-seen">Дата регистрации : <%= @player.created_at.strftime("%d.%m.%Y")%> </div>
            <h1 class="nk-social-profile-info-name"><%= @player.player_nickname%></h1>
            <div class="nk-social-profile-info-username home-game-info" > </div>

            <div class="nk-social-profile-info-actions">
              Баланс : <%= @player.player_wallet%> монет<br>
              Рейтинг : <%= @player.player_rating%>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row vertical-gap">
      <div class="col-lg-3 nk-sidebar-sticky-parent" style="">
        <!--
            START: Sidebar

            Additional Classes:
                .nk-sidebar-left
                .nk-sidebar-right
                .nk-sidebar-sticky
        -->
        <aside class="nk-sidebar nk-sidebar-left nk-sidebar-sticky"><div class="" style="">
          <div class="nk-gap-2"></div>


          <div class="nk-social-menu d-none d-lg-block">
            <ul>
              <li>  <a href="#" class="nk-btn nk-btn-lg nk-btn-bg-warning" data-toggle="modal" data-target=".edit-player-modal">РЕДАКТИРОВАТЬ ПРОФИЛЬ</a> </li>
              <%if current_player.squad_id.nil?%>
                  <li>  <a href="#" class="nk-btn nk-btn-lg nk-btn-bg-danger" data-toggle="modal" data-target=".create-squad-modal">СОЗДАТЬ ОТРЯД</a> </li>
              <%else%>
              <%if current_player.squad.squad_leader == current_player.id%>
                      <li>  <a href="/squadedit/<%=current_player.squad_id%>" data-remote="true" class="nk-btn nk-btn-lg nk-btn-bg-info" >РЕДАКТИРОВАТЬ ОТРЯД</a> </li>
                      <li>  <a href="/squaddel/<%=current_player.squad_id%>" class="nk-btn nk-btn-lg nk-btn-bg-danger" onclick="return confirm('ТОЧНО УДАЛИТЬ?')">УДАЛИТЬ ОТРЯД</a> </li>
                  <%else%>
                      <li>  <a href="/squadleave" class="nk-btn nk-btn-lg nk-btn-bg-danger" onclick="return confirm('ТОЧНО ПОКИНУТЬ ОТРЯД?')">ПОКИНУТЬ ОТРЯД</a> </li>
                  <%end%>
              <%end%>
            </ul>
          </div>

          <div class="nk-accordion d-lg-none" id="nk-social-menu-mobile" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="nk-social-menu-mobile-1-heading">
                <a data-toggle="collapse" data-parent="#nk-social-menu-mobile" href="#nk-social-menu-mobile-1" aria-expanded="true" aria-controls="nk-social-menu-mobile-1" class="collapsed">
                  ИНФОРМАЦИЯ О ИГРОКЕ
                </a>
              </div>
              <div id="nk-social-menu-mobile-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nk-social-menu-mobile-1-heading">
                <div class="nk-social-menu">
                  <ul>


                    <li>-</li>

                    <li>  Discord : <%= @player.player_discord_link%></li>
                   </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="nk-gap-4 d-none d-lg-block"></div>
        </div></aside>
        <!-- END: Sidebar -->
      </div>
      <div class="col-lg-9">
        <div class="nk-gap-2 d-none d-lg-block"></div>
        <div class="nk-tabs">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#tab-description" role="tab" data-toggle="tab" aria-expanded="true">УЧАСТИЕ В СОБЫТИЯХ</a>
            </li>
            <%unless current_player.squad_id.nil?%>
            <%if current_player.squad.squad_leader == current_player.id%>
            <li class="nav-item">
              <a class="nav-link " href="#tab-squad" role="tab" data-toggle="tab" aria-expanded="true">ОТРЯД</a>
            </li>

            <%end%>

                <%end%>
            <li class="nav-item">
              <a class="nav-link " href="#tab-pm" role="tab" data-toggle="tab" aria-expanded="true">ЛИЧНЫЕ СООБЩЕНИЯ (<span id="pm_count"><small><%=player_pm.nil? ? '0' :  player_pm.count.to_s  %></small></span>)</a>
            </li>


          </ul>

          <div class="tab-content">

            <!-- START: Tab Description -->
            <div role="tabpanel" class="tab-pane fade in active show" id="tab-description">
              <div class="nk-gap-3"></div>
              <div class="nk-box-3  bg-dark-1 ">
                <%unless @players_events.blank?%>
                    <%@players_events.each do |e|%>
                        <%if e.event_active%>
                            <%=e.event_date%> : <a href="/event/<%=e.id%>"><%=e.event_name%></a>  в <%=e.event_time%> <br>
                        <%end%>
                    <%end%>
                    <%else%>
                Заявок на участие пока не подано.
                    <%end%>

              </div>

            </div>
            <!-- END: Tab Description -->
            <div role="tabpanel" class="tab-pane fade  show" id="tab-squad">
              <div class="nk-gap-3"></div>
              <div class="nk-box-3  bg-dark-1 ">


                   <p align="center">ЗАЯВКИ НА ВСТУПЛЕНИЕ</p>
                    <table class="table table-bordered">
                      <tr>
                        <td align="center">НИК</td>
                        <td align="center">STEAM</td>
                        <td align="center">DISCORD</td>
                        <td align="center">#</td>
                        <td align="center">#</td>
                      </tr>
                    <%if @requests%>
                          <%@req_players.each do |p|%>
                              <tr>
                                <td><a href="/profile/<%=p.player_nickname_translit%>"><%=p.player_nickname%></a></td>
                                <td><a href="https://steamcommunity.com/profiles/<%=p.player_id%>" target="_blank"> <%=p.player_id%></a></td>
                                <td><%=p.player_discord_link%></td>
                                <td> <a href="/squadadd/<%=current_player.squad.id%>/<%=p.id%>" class="nk-btn nk-btn-sm nk-btn-bg-success" >ПРИНЯТЬ</a></td>
                                <td> <a href="/squaddeny/<%=current_player.squad.id%>/<%=p.id%>" class="nk-btn nk-btn-sm nk-btn-bg-danger" >ОТКЛОНИТЬ</a></td>
                              </tr>
                          <%end%>
                      <%else%>
                          <tr>
                            <td>ЗАЯВОК НЕТ</td>

                          </tr>
                      <%end%>

                    </table>



                    <p align="center">СОСТАВ ОТРЯДА</p>
                <table class="table table-bordered">
                  <tr>
                    <td align="center">НИК</td>
                    <td align="center">STEAM</td>
                    <td align="center">DISCORD</td>
                    <td align="center">#</td>

                  </tr>
<%unless @sostav.blank?%>
                      <%@sostav.each do |p|%>
                          <tr>
                            <td><a href="/profile/<%=p.player_nickname_translit%>"><%=p.player_nickname%></a></td>
                            <td><a href="https://steamcommunity.com/profiles/<%=p.player_id%>" target="_blank"> <%=p.player_id%></a></td>
                            <td><%=p.player_discord_link%></td>

                            <td>
                              <%unless current_player.squad.squad_leader == p.id%>
                              <a style="left: 20px;" href="/squadkick/<%=current_player.squad_id%>/<%=p.id%>" class="nk-btn nk-btn-sm nk-btn-bg-danger align-center" onclick="return confirm('ТОЧНО УДАЛИТЬ?')">УДАЛИТЬ</a>
                                  <%end%>
                            </td>
                          </tr>
                      <%end%>

                  <%end%>
                </table>


              </div>

            </div>
            <!-- START: Tab pm -->
            <div role="tabpanel" class="tab-pane fade " id="tab-pm">
              <div class="nk-gap-3"></div>
              <div class="nk-box-3 bg-dark-1">
                <% unless player_pm.blank?  %>


                    <div class="table-responsive nk-social-messages">
                      <table class="table table-bordered">

                        <tbody>
                        <% player_pm.each do |pm| %>
                          <tr id="pm_tr_<%=pm.id%>">

                          <td class="nk-social-messages-description">
                            <div class="nk-social-messages-since"><%=pm.created_at.strftime("%d.%m.%Y | %H:%M:%S")%></div>
                            <a href="/deletepm/<%=pm.id%>" data-remote="true" class="nk-social-messages-remove"><span class="ion-trash-b"></span></a>

                            <div class="nk-social-messages-from">
                              <a href="/profile/<%=pm.player.player_nickname_translit%>"><img src="/images/avatars/<%=pm.player.player_avatar%>" alt="<%=pm.player.player_nickname%>" title="<%=pm.player.player_nickname%>"></a>
                            </div>
                            <div class="nk-social-messages-subject">
                              <a href="/profile/<%=pm.player.player_nickname_translit%>">От : <%=pm.player.player_nickname%></a>
                            </div>
                            <div class="nk-social-messages-excerpt">
                              <%=pm.message_text.html_safe%>
                            </div>
                          </td>
                        </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                    <%else%>
                    <div class="nk-info-box bg-main-1">
                      <div class="nk-info-box-icon">
                        <i class="ion-information-circled"></i>
                      </div>
                      Личных сообщений пока нет
                    </div>
                <% end %>
              </div>
            </div>
            <!-- END: Tab pm -->



          </div>
        </div>
        <!-- END: Tabs -->

        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
        <div class="nk-gap-4"></div>
      </div>
    </div>



  </div>
</div>

<div  class="modal nk-modal fade edit-player-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none; top : 5%;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="ion-android-close"></span>
        </button>
        <h4 class="modal-title nk-title" id="myLargeModalLabel">Редактирование профиля</h4>
      </div>
      <div class="modal-body">
        <%= form_for :editplayer, url: editplayer_path  do |f| %>
          <div class="nk-gap-2"></div>
          <%=f.text_field  :player_avatar,  type:'hidden'%>
          <div class="form-group row">
            <label for="ava" class="col-3 col-form-label">Ваш аватар (желательно 215x215)<br>
              <img  src="/images/avatars/<%=@player.player_avatar %>" width="100px" alt="">
            </label>
            <div class="col-sm-9">
              <%= f.file_field :player_avatar , class:'form-control', id:'ava'%>
            </div>
          </div>



            <hr style="border-top: 1px solid rgba(236, 10, 10, 0.1)">
          <div class="form-group row">
            <label for="vk" class="col-3 col-form-label"> Ссылка на профиль ВК:</label>
            <div class="col-sm-9">

              <%= text_field_tag 'player_vk_link', @player.player_vk_link, id:'vk', class:'form-control home-game-info'  %>
            </div>
          </div>

          <div class="form-group row">
            <label for="dis" class="col-3 col-form-label"> Discord ID *:</label>
            <div class="col-sm-9">
              <%= text_field_tag 'player_discord_link', @player.player_discord_link, id:'dis', :required => true, class:'form-control home-game-info'  %>
            </div>
          </div>

          <div class="form-group row">
            <label for="player_info" class="col-3 col-form-label">Информация о себе:</label>
            <div class="col-sm-9">
              <textarea class="nk-summernote"  id="player_info" name="player_info"  rows="18"></textarea>
            </div>
          </div>





          <div class="nk-gap-2"></div>



          <button  type="submit" class="nk-btn nk-btn-color-main-1 link-effect-4">Внести изменения</button>

        <% end %>
      </div>
    </div>
  </div>
</div>

<div  class="modal nk-modal fade create-squad-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none; top : 5%;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="ion-android-close"></span>
        </button>
        <h4 class="modal-title nk-title" id="myLargeModalLabel">Создание отряда</h4>
      </div>
      <div class="modal-body">
        <%= form_for :squad, url: newsquad_path  do |f| %>
            <div class="nk-gap-2"></div>
            <div class="form-group row">
              <label for="squad_avatar" class="col-3 col-form-label">Аватар отряда (желательно 215x215)<br>

              </label>
              <div class="col-sm-9">
                <%= f.file_field :squad_avatar ,:required => true, class:'form-control', id:'squad_avatar'%>
              </div>
            </div>




            <div class="form-group row">
              <label for="squad_name" class="col-3 col-form-label">Название отряда:</label>
              <div class="col-sm-9">

                <%= f.text_field :squad_name,:required => true, id:'squad_name', class:'form-control home-game-info'  %>
              </div>
            </div>

            <div class="form-group row">
              <label for="squad_recruting" class="col-3 col-form-label">Набор открыт ?:</label>
              <div class="col-sm-1">

                <%= f.check_box :squad_recruting, id:'squad_recruting', class:'form-control home-game-info', checked: 'checked'  %>

              </div>
            </div>


            <div class="form-group row">
              <label for="squad_info" class="col-3 col-form-label">Дополнительная нформация :</label>
              <div class="col-sm-9">
                <textarea class="nk-summernote"  id="squad_info" name="squad_info"  rows="18"></textarea>
              </div>
            </div>





            <div class="nk-gap-2"></div>

            <input type="hidden"  name="squad_action" value="new" >

            <button  type="submit" class="nk-btn nk-btn-color-main-1 link-effect-4">Создать отряд</button>

        <% end %>
      </div>
    </div>
  </div>
</div>

<div  class="modal nk-modal fade edit-squad-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none; top : 5%;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="ion-android-close"></span>
        </button>
        <h4 class="modal-title nk-title" id="myLargeModalLabel">Редактирование отряда</h4>
      </div>
      <div class="modal-body">
        <%= form_for :squad, url: newsquad_path  do |f| %>
            <div class="nk-gap-2"></div>
            <div class="form-group row">

              <label for="squad_avatar" class="col-3 col-form-label">Аватар отряда (желательно 215x215)<br>
                Текущий аватар
                <img src="" id="edit_avatar" width="30%">
              </label>
              <div class="col-sm-9">
                <%= f.file_field :squad_avatar , class:'form-control', id:'edit_squad_avatar'%>
              </div>
            </div>




            <div class="form-group row">
              <label for="squad_name" class="col-3 col-form-label">Название отряда:</label>
              <div class="col-sm-9">

                <%= f.text_field :squad_name,:required => true, id:'edit_squad_name', class:'form-control home-game-info'  %>
              </div>
            </div>

            <div class="form-group row">
              <label for="squad_recruting" class="col-3 col-form-label">Набор открыт ?:</label>
              <div class="col-sm-1">

                <%= f.check_box :squad_recruting, id:'edit_squad_recruting', class:'form-control home-game-info'  %>

              </div>
            </div>


            <div class="form-group row">
              <label for="squad_info" class="col-3 col-form-label">Дополнительная нформация :</label>
              <div class="col-sm-9">
                <textarea class="nk-summernote"  id="edit_squad_info" name="squad_info"  rows="18"></textarea>
              </div>
            </div>





            <div class="nk-gap-2"></div>

            <input type="hidden" id="edit_id" name="squad_id" >
            <input type="hidden"  name="squad_action" value="update" >

            <button  type="submit" class="nk-btn nk-btn-color-main-1 link-effect-4">Внести изменения</button>

        <% end %>
      </div>
    </div>
  </div>
</div>

