<div class="nk-main">
  <div class="nk-box bg-dark-1 text-white">

    <div class="container">
      <div class="nk-gap-1"></div>
      <a href="https://scummap.devzupa.be" target="_blank">КАРТА</a>
      <input type="text" id="coord" class="form-control" placeholder="Сюда нужно ввести координаты для телепорта">
      <div class="nk-gap-1"></div>
      <table class="table table-bordered">
        <tr>

          <td>НИК</td>
          <td>STEAM ID</td>
          <td>DISCORD ID</td>
        </tr>

            <%@event_players.each do |p|%>
                <tr>
                  <td><%=p.player_nickname%> </td>
                  <td><span id="p_id_<%=p.id%>"><%=p.player_id%></span> <button onclick="copyToClipboard('#p_id_<%=p.id%>')">Скопировать</button></td>
                  <td><%=p.player_discord_link%></td>


                </tr>
            <%end%>



      </table>


    </div>
  </div>
</div>

<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        var coord = $('#coord').val();
        $("body").append($temp);
        $temp.val('#teleport ' + $(element).html() + ' ' + coord).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>