<div class="nk-main">
  <div class="nk-box bg-dark-1 text-white">

      <div class="container">

        <button class="nk-btn nk-btn-lg link-effect-4" data-toggle="modal" data-target=".add_new_forum">Добавить форум</button>
          <table class="table table-bordered">
            <tbody>

            <% @forum.each do |forum| %>
                <tr class="">
                  <td width="70%"><%= forum.forum_name%></td>

                  <td><a href="#" id="<%= forum.id%>" class="mainforum"   data-toggle="modal" data-target=".add_new_subforum">+ подфорум</a></td>

                  <td><a href="/addforum?f_id=<%= forum.id%>">- удалить</a></td>

                </tr>
                <% forum.subforums.each do |sb|%>
                    <tr>

                      <td width="70"% style="background-color: #666666;"><%= sb.subforum_name%></td>


                      <td></td>
                      <td></td>
                      <td><a href="/admin/deletecategory?id=<%= sb.id%>&maincat=<%= forum.id%>"><i class="fas fa-trash-alt" ></i></a></td>

                    </tr>
                <% end %>

            <% end %>

            </tbody>
          </table>


      </div>
    </div>
  </div>
</div>


<div class="nk-gap-4"></div>
<div class="nk-gap-4"></div>
<div class="nk-gap-4"></div>
<div class="nk-gap-4"></div>
<div class="nk-gap-4"></div>

<div class="modal nk-modal fade add_new_forum" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none; top : 1%;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="ion-android-close"></span>
        </button>
        <h4 class="modal-title nk-title" id="myLargeModalLabel">Новай форум</h4>
      </div>
      <div class="modal-body">
        <%= form_for  :addforum, url: addforum_path   do |f|%>


              <div class="col-sm-12">
                <p>Название форума :
                  <%=f.text_field  :forum_name, :required => true , class:'form-control'%></p>
              </div>

            <div class="col-sm-12">
              <p>ВИКИ? :
                <%=f.check_box  :forum_wiki, class:'form-control'%></p>
            </div>

            <input name="addmain" value="add" type="hidden" />
            <%= submit_tag 'Добавить' , class:'nk-btn nk-btn-lg link-effect-4'%>


        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal nk-modal fade add_new_subforum" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none; top : 1%;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="ion-android-close"></span>
        </button>
        <h4 class="modal-title nk-title" id="myLargeModalLabel">Новай подфорум</h4>
      </div>
      <div class="modal-body">
        <%= form_for  :addforum, url: addforum_path   do |f|%>


          <div class="col-sm-12">
            <p>Название форума :
              <%=f.text_field  :subforum_name, :required => true , class:'form-control'%></p>
          </div>
          <% @icons.each do |icon| %>
            <div class="form-check form-check-inline home-game-info">
              <label class="form-check-label">
                <input style="margin-top: 15px !important;" class="form-check-input  home-game-info" type="radio" name="subforum_icon" required="required" value=" <%= icon %>"><span class="icon <%= icon %>" style="font-size: 25px; color:#e08821;"></span>
              </label>
            </div>
          <% end %>
          <input name="addsub" value="add" type="hidden" />
          <input id="forum_id" name="forum_id" value="0" type="hidden" />
          <%= submit_tag 'Добавить' , class:'nk-btn nk-btn-lg link-effect-4'%>


        <% end %>
      </div>
    </div>
  </div>
</div>

<script language="JavaScript">
    $('a.mainforum').click(function() {
        var forum_id = $(this).attr('id');
        $('#forum_id').val(forum_id);

    });
</script>