
<div class="nk-main">

  <div class="nk-header-title nk-header-title-sm nk-header-title-parallax-opacity">

    <div class="nk-header-text-bottom">
      <div class="nk-breadcrumbs text-xs-center">
        <ul>
          <li><a href="/admin">АДМИНКА</a></li>
          <li>
            <span>ИГРОКИ НА СЕРВЕРЕ</span>
          </li>
        </ul>
      </div>
    </div>

  </div>




  <div class="">
    <div class="nk-gap-4"></div>

    <div class="nk-box bg-dark-1 text-white">
      <div class="nk-gap-1"></div>
      <div class="container">

        <div class="nk-gap-1"></div>

        <div class="">
          <div class="">

            Сортировка :
            <a href="/admin/players?sort=nick_asc"  class="nk-btn nk-btn-sm nk-btn-color-success">ПО НИКУ (A-Z)</a>
            <a href="/admin/players?sort=nick_desc"  class="nk-btn nk-btn-sm nk-btn-color-success">ПО НИКУ (Z-A)</a>
            <a href="/admin/players?sort=reg_asc"  class="nk-btn nk-btn-sm nk-btn-color-warning">ПО РЕГЕ (старые)</a>
            <a href="/admin/players?sort=reg_desc"  class="nk-btn nk-btn-sm nk-btn-color-warning">ПО РЕГЕ (новые)</a>
            <a href="/admin/players?sort=bonus_asc"  class="nk-btn nk-btn-sm nk-btn-color-info">ПО БОНУСУ (выдан)</a>
            <a href="/admin/players?sort=bonus_desc"  class="nk-btn nk-btn-sm nk-btn-color-info">ПО БОНУСУ (не выдан)</a>
            <div class="nk-gap-1"></div>
            <table class="table table-bordered">
              <tr>

                <td class="nk-btn-color-success">НИК</td>
                <td>STEAM ID</td>
                <td>DISCORD ID</td>
                <td>ОТРЯД</td>
                <td class="nk-btn-color-warning">РЕГА</td>
                <td class="nk-btn-color-info">БОНУС</td>
                <td>БАЛАНС</td>

              </tr>

              <%@players.each do |p|%>
                  <tr>

                    <td><a href="/admin/userinfo?id=<%=p.id%>"><%=p.player_nickname%></a>  </td>
                    <td><span id="p_id_<%=p.id%>"><%=p.player_id%></span>
                      <br>
                      <button id="btn_<%=p.id%>"  class="nk-btn nk-btn-sm nk-btn-color-danger" onclick="copyToClipboard('#p_id_<%=p.id%>','#btn_<%=p.id%>')">Телепорт</button>
                      <input style="width: 40px;" type="text" id="fp_input_<%=p.id%>"  >

                      <button id="btn_<%=p.id%>_1"  class="nk-btn nk-btn-sm nk-btn-color-info" onclick="copyToClipboard1('#fp_input_<%=p.id%>','#btn_<%=p.id%>_1','#p_id_<%=p.id%>')">Начисление</button>
                    </td>
                    <td><%=p.player_discord_link%></td>
                    <td><%=p.squad_id.nil? ? 'НЕТ' : p.squad.squad_name%></td>
                    <td><%=p.created_at.strftime("%d.%m.%Y | %H:%M:%S")%></td>
                    <%if p.player_welcome_bonus%>
                        <td style="background-color: #5cb85c;">Выдан</td>

                  <%else%>
                        <td style="background-color: #d9534f;"><a class="nk-btn nk-btn-xs nk-btn-rounded nk-btn-outline nk-btn-color-main-1" href="/admin/players?<%= @sort ? 'sort='+@sort+'&': ''%>bonus=<%=p.id%>">Не выдан</a></td>
                    <%end%>
                    <td><%=p.player_wallet%></td>

                  </tr>
              <%end%>



            </table>




          </div>
        </div>

        <div class="nk-gap-4"></div>
      </div>



    </div>
  </div>
  <div class="nk-gap-4"></div>
</div>

<script>
    function copyToClipboard(element,btn) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val('#teleport ' + $(element).html()).select();
        document.execCommand("copy");
        $temp.remove();

        $(btn).removeClass('nk-btn-color-danger');
        $(btn).addClass('nk-btn-color-success');
        $(btn).html('Скопировано');
    }
    function copyToClipboard1(element,btn,user) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val('#setfamepoints ' + $(element).val() + ' ' + $(user).html()).select();
        document.execCommand("copy");
        $temp.remove();

        $(btn).removeClass('nk-btn-color-info');
        $(btn).addClass('nk-btn-color-success');
        $(btn).html('Скопировано');
    }
</script>