<!-- START: Page Background -->
<div class="nk-page-background op-5" data-bg-mp4="<%= asset_path('bg-2.mp4') %>" data-bg-webm="<%= asset_path('bg-2.webm') %>" data-bg-ogv="<%= asset_path('bg-2.ogv') %>" data-bg-poster="<%= asset_path('bg-2.jpg') %>"></div>
<!-- END: Page Background -->
<div class="nk-main">


  <!-- START: Header Title -->
  <!--
Additional Classes:
  .nk-header-title-sm
  .nk-header-title-md
  .nk-header-title-lg
  .nk-header-title-xl
  .nk-header-title-full
  .nk-header-title-parallax
  .nk-header-title-parallax-opacity
  .nk-header-title-boxed
-->
  <div class="nk-header-title nk-header-title-sm nk-header-title-parallax-opacity">



    <div class="nk-header-text-bottom">
      <div class="nk-breadcrumbs text-xs-center">
        <ul>
          <li><a href="/">ГЛАВНАЯ</a></li>
          <li>
            <span>SCUM-ИНФО</span>
          </li>
        </ul>
      </div>
    </div>


  </div>
  <!-- END: Header Title -->





  <div class="nk-gap-4"></div>

  <div class="container">

    <!-- START: Forums List -->
    <ul class="nk-forum">
      <% @forums.each do |forum| %>


        <li style="    padding-top: 40px;
            padding-bottom: 40px;
        background-image: url('/images/line.jpg');
        background-size: cover;">

          <div class="nk-forum-title" >
            <h3 class="menu_item" ><%=forum.forum_name %></h3>
          </div>
          <hr/>

          <% forum.subforums.each do |subforum| %>


          <li style="    padding-top: 25px;
              padding-bottom: 25px;
              background-color:#060606; <%=forum.subforums.first.id == subforum.id  ?  ' background-image: url(/images/line1.jpg);': ''%>">
            <div class="nk-forum-icon">
              <span class="<%= subforum.subforum_icon %>"></span>
            </div>
            <div class="nk-forum-title">
              <h3><a class=" new_text_1" href="/forum/<%= subforum.subforum_name_translit%>"><%= subforum.subforum_name %></a></h3>

            </div>
            <div class="nk-forum-count new_text_1">
              <%= subforum.topics.count %> тем
            </div>
            <div class="nk-forum-count new_text_1">
              <%= subforum.posts.count %> сообщений
            </div>
            <% unless subforum.posts.blank? %>
            <div class="nk-forum-activity-avatar">
              <img src="/images/avatars/<%= subforum.posts.last.player.player_avatar %>" alt="<%= subforum.posts.last.player.player_nickname %>">
            </div>
            <div class="nk-forum-activity">
              <div class="nk-forum-activity-title new_text_1" title="<%= subforum.posts.last.player.player_nickname %>">
                <a href="/topic/<%= subforum.topics.last.topic_name_translit%>#post<%= subforum.posts.last.id%>"><%= subforum.topics.last.topic_name%></a>
              </div>
              <div class="nk-forum-activity-date new_text_1" style="font-size: 12px !important;">
                <%= subforum.posts.last.updated_at.strftime("%d.%m.%Y | %H:%M:%S") %>
              </div>
            </div>
          <% end %>
          </li>

        </li>

      <% end %>
      <% end %>
    </ul>
    <!-- END: Forums List link_to forum.last_topic, {:controller => 'forums', :action => 'showposts', :topicid => forum.last_topic_id},  :class=>'' %> -->

  </div>

  <div class="nk-gap-4"></div>
  <div class="nk-gap-4"></div>

</div>
