var cartItem = " <tr>\n" +
    "            <td class=\"nk-product-cart-thumb\">\n" +
    "              <a href=\"#\" class=\"nk-post-image\">\n" +
    "                <img src=\"/images/items/<%=@item_image%>\" alt=\"Men Tshirt\" class=\"nk-img\">\n" +
    "              </a>\n" +
    "            </td>\n" +
    "            <td class=\"nk-product-cart-title\">\n" +
    "              <h2 class=\"nk-post-title h5\">\n" +
    "                <a href=\"#\"><%=@item_name%></a>\n" +
    "              </h2>\n" +
    "            </td>\n" +
    "            <td class=\"nk-product-cart-price\"><%=@item_price%> RC</td>\n" +
    "            <td class=\"nk-product-cart-quantity\">\n" +
    "             <span id=\"item<%= @item_id%>count\"> 1</span>\n" +
    "            </td>\n" +
    "            <td class=\"nk-product-cart-total-<%= @item_id%>\">\n" +
    "              <%=@item_price%> RC\n" +
    "            </td>\n" +
    "            <td class=\"nk-product-cart-remove\">\n" +
    "              <a href=\"/remcart/<%=@item_id%>\">\n" +
    "                <span class=\"ion-trash-b\"></span>\n" +
    "              </a>\n" +
    "            </td>\n" +
    "          </tr>"

if ('<%=@dup %>' == 'true')
{

        $('#item<%= @item_id%>count').html(<%= @item_count%>);
        var cur_total = parseInt( $('#total').html());
        $('#total').html(cur_total + <%= @item_price%>);
        $('.nk-product-cart-total-<%= @item_id%>').html('<%=@item_total%>')
        var cart_total = parseInt( $('#cart_count').html());
        $('#cart_count').html(cart_total + 1);
        var tot1 = cur_total + <%= @item_price%>
    var tot2 = tot1 - tot1 * <%=@rating%> /100 ;


    $('#total_discount').html( tot2);
        $("#to_cart_button_<%= @item_id%>").css('display','block');
        $("#spinner_<%= @item_id%>").removeClass('spinner');
        notify();




}
else
{


    $("#cart_items tbody").append(cartItem);

    var cur_total = parseInt( $('#total').html());
    $('#total').html(cur_total + <%= @item_price%>);
    var cart_total = parseInt( $('#cart_count').html());
    $('#cart_count').html(cart_total + 1);




    $('#cart_state_txt_<%= @item_id%>').html('ДОБАВИТЬ ЕЩЕ');
    var tot1 = cur_total + <%= @item_price%>
    var tot2 = tot1 - tot1 * <%=@rating%> /100 ;


    $('#total_discount').html( tot2);
    $('.nk-cart-btns').removeClass('hidediv');
    $('.nk-cart-total').removeClass('hidediv');

    $("#to_cart_button_<%= @item_id%>").css('display','block');
    $("#spinner_<%= @item_id%>").removeClass('spinner');

    notify();



}

function notify() {
    $.amaran({
        'theme'     :'colorful',
        'content'   :{
            bgcolor:'#e08821',
            color:'#fff',
            message:'Товар: <%= @item_name%> добавлен в корзину.'
        },

        'cssanimationIn'    :'bounceInRight',
        'cssanimationOut'   :'rollOut',
        'position'          :'top right'
    });
}

function total(selector) {
    var sum = 0;
    $("span[id^='iitem']").each(function() {

        sum += parseInt($(this).html());
    });

    return sum;
}





