<!-- START: Page Background -->
<div class="nk-page-background op-5" data-bg-mp4="<%= asset_path('bg-2.mp4') %>" data-bg-webm="<%= asset_path('bg-2.webm') %>" data-bg-ogv="<%= asset_path('bg-2.ogv') %>" data-bg-poster="<%= asset_path('bg-2.jpg') %>"></div>
<!-- END: Page Background -->
<div class="nk-main">


  <!-- START: Header Title -->
  <!--
Additional Classes:
  .nk-header-title-sm
  .nk-header-title-md
  .nk-header-title-lg
  .nk-header-title-xl
  .nk-header-title-full
  .nk-header-title-parallax
  .nk-header-title-parallax-opacity
  .nk-header-title-boxed
-->
  <div class="nk-header-title nk-header-title-sm nk-header-title-parallax-opacity">



    <div class="nk-header-text-bottom">
      <div class="nk-breadcrumbs text-xs-center">
        <ul>
          <li><a href="/">ГЛАВНАЯ</a></li>
          <li>
            <span>ТОРГОВАЯ ПЛОЩАДКА ESCAPE FROM TARKOV</span>
          </li>
        </ul>
      </div>
    </div>


  </div>
  <!-- END: Header Title -->





  <div class="nk-gap-4"></div>
  <div class="container">
  <div class="row vertical-gap">
    <div class="col-lg-3 nk-sidebar-sticky-parent" style="">
      <!--
          START: Sidebar

          Additional Classes:
              .nk-sidebar-left
              .nk-sidebar-right
              .nk-sidebar-sticky
      -->
      <aside class="nk-sidebar nk-sidebar-left nk-sidebar-sticky"><div class="" style="">



        <div class="nk-social-menu d-none d-lg-block">
          <ul>
            <li ><a href="/tarkovmarket">ВСЕ ТОВАРЫ</a> </li>
            <% @item_tags.each do |k,v|%>
            <li >
              <a href="/tarkovmarket/<%= v %>">
                <%= k %></a>
            </li>
                <% end %>
          </ul>
        </div>

        <div class="nk-accordion d-lg-none" id="nk-social-menu-mobile" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="nk-social-menu-mobile-1-heading">
              <a data-toggle="collapse" data-parent="#nk-social-menu-mobile" href="#nk-social-menu-mobile-1" aria-expanded="true" aria-controls="nk-social-menu-mobile-1" class="collapsed">
                Menu
              </a>
            </div>
            <div id="nk-social-menu-mobile-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nk-social-menu-mobile-1-heading">
              <div class="nk-social-menu">
                <ul>
                  <li class="active"><a href="/tarkovmarket">ВСЕ ТОВАРЫ</a> </li>
                  <% @item_tags.each do |k,v|%>
                    <li class="">
                      <a href="/tarkovmarket/<%= v %>">
                        <%= k %></a>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="nk-gap-4 d-none d-lg-block"></div>
      </div></aside>
      <!-- END: Sidebar -->
    </div>
    <div class="col-lg-9">
      <div class=" d-none d-lg-block"></div>

        <div class="digg_pagination">
          <%= will_paginate @tarkovitems, :container => false %>

      <form action="/tarkovmarket" class="nk-social-sort" >
        <input type="text" name="q" required="required" placeholder="Найти товар..." class="form-control">
        <button type="submit" class="nk-btn link-effect-4 ready">Поиск</button>
      </form>
    </div>
      <div class="nk-gap-2"></div>
      <div class="nk-social-container">

        <div class="nk-gap"></div>

        <!-- START: Activity -->
        <ul class="nk-social-friends">
<% if flash[:search]%>
            <div class="nk-info-box bg-main-1">
              <div class="nk-info-box-icon">
                <i class="ion-information-circled"></i>
              </div>
              <%= flash[:search]%>
            </div>
            <% end %>
          <%@tarkovitems.each do |item|%>
          <!-- START: post -->

          <li >
            <div class="nk-social-activity-avatar">
              <a href="store-product.html" class="nk-post-image">
                <%if item.item_vip%>

                    <img style=" box-shadow: 0 0 20px #e08821;
                        border: 1px solid;
                        padding: 15px;
                        border-radius: 50%;" src="/images/tarkovitems/<%= item.item_type%>.png" class="nk-img">
                <%else%>
                    <img style="
                        padding: 15px;
                       " src="/images/tarkovitems/<%= item.item_type%>.png" class="nk-img">
                <%end%>

              </a>
            </div>
            <div class="nk-social-activity-content" style="margin-left: 40px;">
              <div class="nk-social-activity-meta" style="font-size: .9em;
                  background-color: #181818;
                  padding: 5px 15px;
                  margin-bottom: 15px;">
                <a href="store-product.html"><%= item.item_name%></a> в наличии <%= item.item_to_sell_count%> шт.

              </div>
              <div class="nk-social-activity-text">
                Продавец : <a href="/profile/<%= item.player.player_nickname_translit%>"><%= item.player.player_nickname%></a>

                <% if item.player.player_votes_count == 0%>
                   | Рейтинг : НЕТ
                <%else%>


                     | Рейтинг :
                      <% (item.player.player_votes_summ / item.player.player_votes_count).times do %>
                          <span class="nk-btn-color-main-1 fa fa-star"></span>
                      <% end %>


                <% end %>
                | Покупок: <%= item.player.player_buys_count == 0 ? 'Нет' : item.player.player_buys_count%>
                | Продаж : <%= item.player.player_sells_count == 0 ? 'Нет' : item.player.player_sells_count%>
              </div>
              <div class="nk-social-activity-actions">
            <strong> &#8381;</strong> <%= item.item_price_virt_rub%> | <strong>&#36;</strong> <%= item.item_price_virt_usd%> | <strong>&euro;</strong> <%= item.item_price_virt_eur%> <%= item.item_barter ? '| <span class="nk-btn-color-danger" style="font-weight:bold;">Возможен бартер</span>'.html_safe : '' %>
                <a style="    float: right;" href="#" class="nk-btn nk-btn-xs ">Сообщение продавцу</a>
              </div>

            </div>
          </li>
          <!-- END: post -->
          <%end%>

        </ul>
        <!-- END: Activity -->
      </div>


      <div class="nk-gap-2"></div>
        <div class="digg_pagination">
          <%= will_paginate @tarkovitems, :container => false %>
        </div>

    </div>
  </div>
</div>


  <div class="nk-gap-4"></div>
  <div class="nk-gap-4"></div>

</div>
