<!-- START: Page Background -->
<div class="nk-page-background op-5" data-bg-mp4="<%= asset_path('bg-2.mp4') %>" data-bg-webm="<%= asset_path('bg-2.webm') %>" data-bg-ogv="<%= asset_path('bg-2.ogv') %>" data-bg-poster="<%= asset_path('bg-2.jpg') %>"></div>
<!-- END: Page Background -->

<div class="nk-main">

  <div class="nk-header-title nk-header-title-sm nk-header-title-parallax-opacity">

    <div class="nk-header-text-bottom">
      <div class="nk-breadcrumbs text-xs-center">
        <ul>
          <li><a href="/">ГЛАВНАЯ</a></li>
          <li>
            <span>СТАТУС STEAM ID</span>
          </li>
        </ul>
      </div>
    </div>

  </div>




  <div class="container">
    <div class="nk-gap-4"></div>

    <div class="nk-box bg-dark-1 text-white">
      <div class="nk-gap-4"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">

            <p align="center" class="menu_item" style="font-size: 50px !important;">
              <%if flash[:wh_error]%>
                <div class="nk-info-box bg-danger">
                  <div class="nk-info-box-icon">
                    <i class="ion-alert-circled"></i>
                  </div>
                  <%=flash[:wh_error]%>
                </div>

            <%end%>
            <%if flash[:wh_ок]%>
                <div class="nk-info-box bg-success">
                  <div class="nk-info-box-icon">
                    <i class="ion-alert-circled"></i>
                  </div>
                  <p style=" padding: 10px;
                      font-size: 22px;
                      background-color: #0e0e0e;
                      border-radius: 5px;"><%=flash[:wh_ок]%></p>

                  <p>НОВОЕ  СЕРВЕРА : <strong> [RU] GAMESCUM.RU [WhiteList]</strong> </p>
                  <p>IP СЕРВЕРА : <strong>54.37.128.93:28302</strong></p>
                  <hr>
                  <p>Группа сервера в ВК : https://vk.com/game.scum</p>
                  <p>Сайт сервера : http://www.gamescum.ru</p>
                  <p>Дискорд сервера : https://discordapp.com/invite/Yq2Kfzr</p>
                </div>

            <%end%>

            </p>
          </div>
        </div>

        <div class="nk-gap-4"></div>
      </div>



    </div>
  </div>
  <div class="nk-gap-4"></div>
</div>