<!-- START: Page Background -->
<div class="nk-page-background op-5" data-bg-mp4="<%= asset_path('bg-2.mp4') %>" data-bg-webm="<%= asset_path('bg-2.webm') %>" data-bg-ogv="<%= asset_path('bg-2.ogv') %>" data-bg-poster="<%= asset_path('bg-2.jpg') %>"></div>
<!-- END: Page Background -->

<div class="nk-main">

  <div class="nk-header-title nk-header-title-sm nk-header-title-parallax-opacity">

    <div class="nk-header-text-bottom">
      <div class="nk-breadcrumbs text-xs-center">
        <ul>
          <li><a href="/">ГЛАВНАЯ</a></li>
          <li>
            <span>ОТРЯДЫ</span>
          </li>
        </ul>
      </div>
    </div>

  </div>




  <div class="container">
    <div class="nk-gap-4"></div>

    <div class="nk-box bg-dark-1 text-white">
      <div class="nk-gap-4"></div>
      <div class="container">
        <%if flash[:s_error]%>
            <div class="nk-info-box bg-danger">
              <div class="nk-info-box-icon">
                <i class="ion-alert-circled"></i>
              </div>
              <%=flash[:s_error]%>
            </div>
        <%end%>
        <%if flash[:s_success]%>
            <div class="nk-info-box bg-success">
              <div class="nk-info-box-icon">
                <i class="ion-alert-circled"></i>
              </div>
              <%=flash[:s_success]%>
            </div>
        <%end%>
        <div class="row">


          <table class="table text-center">
            <tr>
              <td style="width: 250px;" ></td>
              <td>НАЗВАНИЕ</td>
              <td>НАБОР</td>
              <td>ЛИДЕР</td>
              <td>РЕЙТИНГ</td>
              <td>УЧАСТНИКИ</td>


            </tr>

            <%@squads.each do |s|%>
                <tr>
                  <td><img class="nk-img" src="/images/squads/<%=s.squad_avatar%>"></td>


                  <td style="vertical-align: middle;"><%=s.squad_name%> </td>
                  <td style="vertical-align: middle;">
                    <%if logged_in?%>
                        <%if s.squad_recruting%>
                            <span class="nk-btn-color-info">ОТКРЫТ</span><br>
                            <%if s.squad_in_request.split(',').include? (current_player.id.to_s)%>
                                <span class="nk-btn-color-danger">Заявка отправлена</span>
                            <%else%>
                                <%if current_player.squad_id == nil%>
                                    <a class="nk-btn nk-btn-xs nk-btn-rounded nk-btn-outline nk-btn-color-success" href="/squadapply/<%=s.squad_name_translit%>">ВСТУПИТЬ</a>
                                <%else%>
                                    <%if current_player.squad_id == s.id%>
                                        <span class="nk-btn-color-danger">Это твой отряд</span>
                                    <%end%>
                                <%end%>

                            <%end%>
                        <%else%>
                            <span class="nk-btn-color-danger">ЗАКРЫТ</span>
                        <%end%>
                  

                    <%end%>




                  </td>
                  <td style="vertical-align: middle;"><a href="/profile/<%=Player.find(s.squad_leader).player_nickname_translit%>"><%=Player.find(s.squad_leader).player_nickname%></a>  </td>
                  <td style="vertical-align: middle;"><%=s.squad_rating%></td>
                  <td>
                    <%Player.where(:squad_id => s.id).each do |p|%>
                        <%unless p.id == p.squad.squad_leader%>
                        <a href="/profile/<%=p.player_nickname_translit%>"><%=p.player_nickname%></a><br>
                        <%end%>
                    <%end%>
                  </td>

                </tr>
            <%end%>



          </table>

        </div>

        <div class="nk-gap-4"></div>
      </div>



    </div>
  </div>
  <div class="nk-gap-4"></div>
</div>