<!-- START: Page Background -->
<div class="nk-page-background op-5" data-bg-mp4="<%= asset_path('bg-2.mp4') %>" data-bg-webm="<%= asset_path('bg-2.webm') %>" data-bg-ogv="<%= asset_path('bg-2.ogv') %>" data-bg-poster="<%= asset_path('bg-2.jpg') %>"></div>
<!-- END: Page Background -->
<div class="nk-main">


  <!-- START: Header Title -->
  <!--
      Additional Classes:
          .nk-header-title-sm
          .nk-header-title-md
          .nk-header-title-lg
          .nk-header-title-xl
          .nk-header-title-full
          .nk-header-title-parallax
          .nk-header-title-parallax-opacity
          .nk-header-title-boxed
  -->
  <div class="nk-header-title nk-header-title-md nk-header-title-parallax nk-header-title-parallax-opacity nk-header-title-boxed">
    <div class="bg-image op-5 bg-image-parallax" data-type="scroll-opacity">

      <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><img src="/images/shared/tamriel_adv_head.jpg" alt="" class="jarallax-img" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px;  overflow: hidden; pointer-events: none;  transform: translate3d(0px, 0px, 0px); opacity: 1;"></div></div>
    <div class="nk-header-table" style="padding-top: 0px; opacity: 1; transform: translateY(0px) translateZ(0px);">
      <div class="nk-header-table-cell">
        <div class="container">




          <div class="nk-header-text">

            <div class="row text-left">
              <div class="col-lg-8">
                <div class="nk-gap-5 d-none d-lg-block"></div>
                <h1 class="nk-title">Приключения Тамриеля : <%=@event.event_name%></h1>
                <div class="nk-gap-3 d-none d-lg-block"></div>
                <div class="nk-gap-5 d-none d-lg-block"></div>
              </div>
              <div class="col-lg-4">
                <aside class="nk-sidebar nk-sidebar-right">
                  <div class="nk-gap-5 d-none d-lg-block"></div>
                  <div class="nk-gap d-lg-none"></div>
                  <table>
                    <tbody>
                    <tr>
                      <td><strong>Руководитель : </strong> &nbsp;&nbsp;&nbsp;</td>
                      <td valign="top" ><a href="/profile/<%=@creator.player_nickname_translit  %>"><%=@creator.player_nickname%></a> </td>
                    </tr>
                    <tr>
                      <td><strong>Дата и время : </strong> &nbsp;&nbsp;&nbsp;</td>
                      <td><%=@event.event_day%> | <%=@event.event_time%></td>
                    </tr>
                    <tr>
                      <td><strong>Канал Discord : </strong> &nbsp;&nbsp;&nbsp;</td>
                      <td><%=@event.event_discord%></td>
                    </tr>
                    <tr>
                      <td><strong>Участников : </strong> &nbsp;&nbsp;&nbsp;</td>
                      <td>  <%= @players.count == 0 ? '0':@players.count%></td>
                    </tr>

                    </tbody>
                  </table>
                  <div class="nk-gap-5 d-lg-none"></div>
                  <%if logged_in?%>
                      <%if @applyed%>
                          <a href="/event_abort/1/<%=@event.id%>" class="nk-btn nk-btn-color-danger">Отменить заявку</a>
                      <%else%>
                          <a href="/tamriel_adv_event_apply/<%=@event.id%>/apply" class="nk-btn nk-btn-color-success">Принять участие</a>
                      <%end%>

                  <%end%>
                </aside>

              </div>
            </div>

          </div>


        </div>
      </div>
    </div>

  </div>
  <!-- END: Header Title -->





  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="nk-blog-container nk-blog-container-offset">
          <!-- START: Post -->
          <div class="nk-blog-post nk-blog-post-single">
            <!-- START: Post Text -->
            <div class="nk-post-text mt-0">
              Информация о мероприятии :
              <%=@event.event_info.html_safe%>



              <div class="nk-gap-2"></div>
              <hr style="border-top: 1px solid rgba(236, 10, 10, 0.1)">
            </div>
            <!-- END: Post Text -->



            <!-- START: Comments -->
            <div style="padding-top: 0px !important;" class="nk-comments" id="comments">

              <h3 class="nk-title h4 text-center"><%=@comments.blank? ? 'Комментариев пока нет' : 'Комментарии ' + '(' + @comments.count.to_s + ')' %> </h3>

              <!-- START: Comment -->
              <%@comments.each do |c| %>
              <div class="nk-comment">
                <div class="nk-comment-avatar">
                  <a href="/profile/<%=c.player.player_nickname_translit  %>"><img src="/images/avatars/<%=c.player.player_avatar %>" alt=""></a>
                </div>
                <div class="nk-comment-meta">
                  <div class="nk-comment-name h5"><a href="/profile/<%=c.player.player_nickname_translit  %>"><%=c.player.player_nickname%></a></div>
                  <div class="nk-comment-date"><%=c.created_at.strftime('%d.%m.%Y | %H:%M:%S') + ' | '%>
                    <%c.comment_rate.to_i.times do%>
                        <span class="nk-btn-color-main-1 fa fa-star"></span>
                    <%end%>
                  </div>
                </div>
                <p><%=c.comment_text%></p>

              </div>
              <!-- END: Comment -->
              <%end%>
              <hr style="border-top: 1px solid rgba(236, 10, 10, 0.1)">
              <%if logged_in?%>
              <!-- START: Reply -->
              <div class="nk-reply">
                <h3 class="nk-title h4 text-center">Оставить комментарий</h3>
                <div class="nk-gap-2"></div>
                <%if @event.event_tamriel_adventure_players.include?(current_player.id.to_s)%>
                    <%=form_for :event_comment, url:event_comment_path do |f|%>
                        <span>Оценка :</span>
                        <div class="nk-rating" style="font-size: 16px !important;">
                          <input type="radio" id="review_rate-5" name="review_rate" value="5">
                          <label for="review_rate-5">
                            <span><i class="fa fa-star-o"></i></span>
                            <span><i class="fa fa-star"></i></span>
                          </label>

                          <input type="radio" id="review_rate-4" name="review_rate" value="4">
                          <label for="review_rate-4">
                            <span><i class="fa fa-star-o"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            </i>
                          </label>

                          <input type="radio" id="review_rate-3" name="review_rate" value="3">
                          <label for="review_rate-3">
                            <span><i class="fa fa-star-o"></i></span>
                            <span><i class="fa fa-star"></i></span>
                          </label>

                          <input type="radio" id="review_rate-2" name="review_rate" value="2">
                          <label for="review_rate-2">
                            <span><i class="fa fa-star-o"></i></span>
                            <span><i class="fa fa-star"></i></span>
                          </label>

                          <input type="radio" id="review_rate-1" name="review_rate" value="1">
                          <label for="review_rate-1">
                            <span><i class="fa fa-star-o"></i></span>
                            <span><i class="fa fa-star"></i></span>
                          </label>
                        </div>
                        <div class="nk-gap-1"></div>
                        <%=f.text_area :comment, :placeholder =>'Комментарий', :required => true ,class:'form-control'%>
                        <div class="nk-gap-2"></div>

                        <input  name="event_id" value="<%=@event.id%>" type="hidden" />
                        <input  name="event_type" value="<%=@event.event_type%>" type="hidden" />
                        <input  name="event_creator" value="<%=@event.event_creator%>" type="hidden" />

                        <%= submit_tag 'Отправить', class:'nk-btn nk-btn-color-main-1', style:'border: 1px solid;'%>
                    <%end%>
              <%else%>
                    <div class="nk-info-box bg-danger">
                      <div class="nk-info-box-icon">
                        <i class="ion-alert-circled"></i>
                      </div>
                      Комментировать и оценивать мероприятие могу только его участники.
                    </div>


              <%end%>

              </div>
              <!-- END: Reply -->
              <%end%>
            </div>
            <!-- END: Comments -->

          </div>
          <!-- END: Post -->

          <div class="nk-gap-4"></div>
        </div>
      </div>
      <div class="col-lg-4 nk-sidebar-sticky-parent" style="">
        <!--
            START: Sidebar

            Additional Classes:
                .nk-sidebar-left
                .nk-sidebar-right
                .nk-sidebar-sticky
        -->
        <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky"><div class="" style="">
          <div class="nk-gap-4"></div>
          <div class="nk-widget">
            <h4 class="nk-widget-title">Участники</h4>
            <div>
              <div class="nk-social-menu d-none d-lg-block">
                <ul>
                  <%if @players.count == 0%>
                      <li class="">Пока никого нет</li>
                  <%else%>
                      <%@players.each do |p|%>
                          <li class=""><a href="/profile/<%=p.player_nickname_translit%>"><span class="nk-btn-color-danger">@<%=p.player_id%></span> (<%=p.player_nickname%>)</a></li>
                      <%end%>
                  <%end%>
                </ul>
              </div>

            </div>
          </div>
          <div class="nk-widget">
            <h4 class="nk-widget-title">Похожие мероприятия</h4>
            <div>
              <ul class="nk-widget-categories">

                <%@similar.each do |e|%>
                    <%unless e.id == @event.id%>
                        <% unless Date.today.strftime('%d/%m/%Y') >= e.event_day && Time.now.strftime('%H:%M') > e.event_time %>
                          <li><a href="/tamriel_adv_event_apply/<%=e.id%>"><%=e.event_day + ' в ' +e.event_time + ' : ' + e.event_name + ' | Участников : ' + e.event_tamriel_adventure_players.split(',').count.to_s%></a></li>
                        <%end%>
                        <%end%>
                <%end%>

              </ul>
            </div>
          </div>


          <div class="nk-gap-4"></div>

        </div></aside>
        <!-- END: Sidebar -->
      </div>
    </div>
    <div class="nk-gap-4"></div>
    <div class="nk-gap-3"></div>
  </div>



  <!-- START: Footer -->
  <!--
      Additional Classes:
          .nk-footer-parallax
          .nk-footer-parallax-opacity
  -->

</div>