<!-- START: Page Background -->
<div class="nk-page-background op-5" data-bg-mp4="<%= asset_path('bg-2.mp4') %>" data-bg-webm="<%= asset_path('bg-2.webm') %>" data-bg-ogv="<%= asset_path('bg-2.ogv') %>" data-bg-poster="<%= asset_path('bg-2.jpg') %>"></div>
<!-- END: Page Background -->
<div class="nk-main">


  <!-- START: Header Title -->
  <!--
      Additional Classes:
          .nk-header-title-sm
          .nk-header-title-md
          .nk-header-title-lg
          .nk-header-title-xl
          .nk-header-title-full
          .nk-header-title-parallax
          .nk-header-title-parallax-opacity
          .nk-header-title-boxed
  -->
  <div class="nk-header-title nk-header-title-md nk-header-title-parallax nk-header-title-parallax-opacity nk-header-title-boxed">
    <div class="bg-image op-5 bg-image-parallax" data-type="scroll-opacity">

      <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><img src="/images/shared/tamriel_adv_head.jpg" alt="" class="jarallax-img" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px;  overflow: hidden; pointer-events: none;  transform: translate3d(0px, 0px, 0px); opacity: 1;"></div></div>
    <div class="nk-header-table" style="padding-top: 0px; opacity: 1; transform: translateY(0px) translateZ(0px);">
      <div class="nk-header-table-cell">
        <div class="container">




          <div class="nk-header-text">

            <div class="row text-left">
              <div class="col-lg-8">
                <div class="nk-gap-5 d-none d-lg-block"></div>
                <h1 class="nk-title">Приключения Тамриеля : <%=@event.event_name%></h1>
                <div class="nk-gap-3 d-none d-lg-block"></div>
                <div class="nk-gap-5 d-none d-lg-block"></div>
              </div>
              <div class="col-lg-4">
                <aside class="nk-sidebar nk-sidebar-right">
                  <div class="nk-gap-5 d-none d-lg-block"></div>
                  <div class="nk-gap d-lg-none"></div>
                  <table>
                    <tbody>
                    <tr>
                      <td><strong>Руководитель : </strong> &nbsp;&nbsp;&nbsp;</td>
                      <td valign="top" ><a href="/profile/<%=@creator.player_nickname_translit  %>"><%=@creator.player_nickname%></a> </td>
                    </tr>
                    <tr>
                      <td><strong>Дата и время : </strong> &nbsp;&nbsp;&nbsp;</td>
                      <td><%=@event.event_day%> | <%=@event.event_time%></td>
                    </tr>
                    <tr>
                      <td><strong>Канал Discord : </strong> &nbsp;&nbsp;&nbsp;</td>
                      <td><%=@event.event_discord%></td>
                    </tr>
                    <tr>
                      <td><strong>Участников : </strong> &nbsp;&nbsp;&nbsp;</td>
                      <td>0</td>
                    </tr>

                    </tbody>
                  </table>
                  <div class="nk-gap-5 d-lg-none"></div>
                </aside>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>

  </div>
  <!-- END: Header Title -->





  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="nk-blog-container nk-blog-container-offset">
          <!-- START: Post -->
          <div class="nk-blog-post nk-blog-post-single">
            <!-- START: Post Text -->
            <div class="nk-post-text mt-0">
              Информация о мероприятии :
              <%=@event.event_info.html_safe%>



              <div class="nk-gap-2"></div>
              <hr style="border-top: 1px solid rgba(236, 10, 10, 0.1)">
            </div>
            <!-- END: Post Text -->



            <!-- START: Comments -->
            <div style="padding-top: 0px !important;" class="nk-comments" id="comments">
              <h3 class="nk-title h4 text-center">Комментарии</h3>

              <!-- START: Comment -->
              <%@comments.each do |c| %>
              <div class="nk-comment">
                <div class="nk-comment-avatar">
                  <a href="/profile/<%=c.player.player_nickname_translit  %>"><img src="/images/avatars/<%=c.player.player_avatar %>" alt=""></a>
                </div>
                <div class="nk-comment-meta">
                  <div class="nk-comment-name h5"><a href="/profile/<%=c.player.player_nickname_translit  %>"><%=c.player.player_nickname%></a></div>
                  <div class="nk-comment-date"><%=c.created_at.strftime('%d.%m.%Y | %H:%M:%S')%></div>
                </div>
                <p><%=c.comment_text%></p>

              </div>
              <!-- END: Comment -->
              <%end%>

              <!-- START: Reply -->
              <div class="nk-reply">
                <h3 class="nk-title h4 text-center">Оставить комментарий</h3>
                <div class="nk-gap-2"></div>
                <%=form_for :event_comment, url:event_comment_path do |f|%>
                    <%=f.text_area :comment, :placeholder =>'Комментарий', :required => true ,class:'form-control'%>
                    <div class="nk-gap-2"></div>

                    <input  name="event_id" value="<%=@event.id%>" type="hidden" />
                    <input  name="event_type" value="<%=@event.event_type%>" type="hidden" />

                    <%= submit_tag 'Отправить', class:'nk-btn  nk-btn-color-main-1'%>
                <%end%>

              </div>
              <!-- END: Reply -->
            </div>
            <!-- END: Comments -->

          </div>
          <!-- END: Post -->

          <div class="nk-gap-4"></div>
        </div>
      </div>
      <div class="col-lg-4 nk-sidebar-sticky-parent" style="">
        <!--
            START: Sidebar

            Additional Classes:
                .nk-sidebar-left
                .nk-sidebar-right
                .nk-sidebar-sticky
        -->
        <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky"><div class="" style="">
          <div class="nk-gap-4"></div>
          <div class="nk-widget">
            <h4 class="nk-widget-title">Recent Posts</h4>
            <div>

              <div class="nk-widget-post">
                <a href="news-single-image.html" class="nk-image-box-1 nk-post-image">
                  <img src="https://cdn-html.nkdev.info/godlike/assets/images/post-1-sm.jpg" alt="">
                </a>
                <h3 class="nk-post-title"><a href="news-single-image.html">Image Blog Post</a></h3>
                <div class="nk-post-meta-date">September 18, 2016</div>
              </div>

              <div class="nk-widget-post">
                <a href="news-single-video.html" class="nk-image-box-1 nk-post-image">
                  <img src="https://cdn-html.nkdev.info/godlike/assets/images/post-2-sm.jpg" alt="">
                </a>
                <h3 class="nk-post-title"><a href="news-single-video.html">Video Blog Post</a></h3>
                <div class="nk-post-meta-date">September 5, 2016</div>
              </div>

              <div class="nk-widget-post">
                <a href="news-single-quote.html" class="nk-image-box-1 nk-post-image">
                  <img src="https://cdn-html.nkdev.info/godlike/assets/images/post-3-sm.jpg" alt="">
                </a>
                <h3 class="nk-post-title"><a href="news-single-quote.html">Blockquote Blog Post</a></h3>
                <div class="nk-post-meta-date">August 27, 2016</div>
              </div>

            </div>
          </div>
          <div class="nk-widget">
            <h4 class="nk-widget-title">Categories</h4>
            <div>
              <ul class="nk-widget-categories">
                <li>
                  <a href="#">Business</a>
                </li>
                <li>
                  <a href="#">Live News</a>
                </li>
                <li>
                  <a href="#">Lifestyle</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="nk-widget">
            <h4 class="nk-widget-title">Tags</h4>
            <div>
              <div class="nk-widget-tags">
                <a href="#">Creative</a>
                <a href="#">Responsive</a>
                <a href="#">Design</a>
                <a href="#">Bootstrap</a>
                <a href="#">Multi-Concept</a>
              </div>
            </div>
          </div>
          <div class="nk-widget">
            <h4 class="nk-widget-title">Twitter</h4>
            <div>
              <div class="nk-twitter-list" data-twitter-count="2"><div class="nk-twitter">
                <svg class="svg-inline--fa fa-twitter fa-w-16 nk-twitter-icon" aria-hidden="true" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg><!-- <span class="nk-twitter-icon fa fa-twitter"></span> -->
                <div class="nk-twitter-text">
                  It's done! <a href="https://twitter.com/search?q=gutenberg">#gutenberg</a> blocks constructor <a href="https://t.co/mutEGlMNpA">wordpress.org/plugins/lazy-b…</a> <a href="https://t.co/EN3AzXTemo">pic.twitter.com/EN3AzXTemo</a>
                </div>
                <div class="nk-twitter-date">
                  <span>9 August</span>
                </div>
              </div><div class="nk-twitter">
                <svg class="svg-inline--fa fa-twitter fa-w-16 nk-twitter-icon" aria-hidden="true" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg><!-- <span class="nk-twitter-icon fa fa-twitter"></span> -->
                <div class="nk-twitter-text">
                  <a href="https://twitter.com/m_munirkamal">@m_munirkamal</a> <a href="https://twitter.com/GutenbergHub">@GutenbergHub</a> It was originally created to work with metaboxes (custom fields), like ACF plugin for G… <a href="https://t.co/Q4MCW96EhQ">twitter.com/i/web/status/1…</a>
                </div>
                <div class="nk-twitter-date">
                  <span>26 July</span>
                </div>
              </div></div>
            </div>
          </div>
          <div class="nk-gap-4"></div>

        </div></aside>
        <!-- END: Sidebar -->
      </div>
    </div>
    <div class="nk-gap-4"></div>
    <div class="nk-gap-3"></div>
  </div>



  <!-- START: Footer -->
  <!--
      Additional Classes:
          .nk-footer-parallax
          .nk-footer-parallax-opacity
  -->
 
</div>