<%if request.fullpath == '/launcher'%>
<!DOCTYPE html>
    <html>
    <head>
      <%= csrf_meta_tags %>

      <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300i,400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

      <style type="text/css">
        .tabset > input[type="radio"] {
          position: absolute;
          left: -200vw;
        }

        .tabset .tab-panel {
          display: none;
        }

        .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
        .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
        .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
        .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
        .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
        .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
          display: block;
        }

        /*
         Styling
        */
        body {
          font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
          color: #333;
          font-weight: 300;
        }

        .tabset > label {
          position: relative;
          display: inline-block;
          padding: 15px 15px 25px;
          border: 1px solid transparent;
          border-bottom: 0;
          cursor: pointer;
          font-weight: 600;
        }

        .tabset > label::after {
          content: "";
          position: absolute;
          left: 15px;
          bottom: 10px;
          width: 22px;
          height: 4px;
          background: #8d8d8d;
        }

        .tabset > label:hover,
        .tabset > input:focus + label {
          color: #e08821;
        }

        .tabset > label:hover::after,
        .tabset > input:focus + label::after,
        .tabset > input:checked + label::after {
          background: #e08821;
        }

        .tabset > input:checked + label {
          border-color: #e08821;
          border-bottom: 1px solid #e08821;
          margin-bottom: -1px;
        }

        .tab-panel {
          padding: 30px 0;
          border-top: 1px solid #ccc;
        }

        /*
         Demo purposes only
        */
        *,
        *:before,
        *:after {
          box-sizing: border-box;
        }

        body {
          padding: 30px;
        }

        .tabset {
          max-width: 65em;
        }

        .pc-tab > input,
        .pc-tab section > div {
          display: none;
        }

        #tab1:checked ~ section .tab1,
        #tab2:checked ~ section .tab2,
        #tab3:checked ~ section .tab3 {
          display: block;
        }

        #tab1:checked ~ nav .tab1,
        #tab2:checked ~ nav .tab2,
        #tab3:checked ~ nav .tab3 {
          color: red;
        }

        /* Visual Styles */
        *, *:after, *:before {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
        }

        body {
          -webkit-font-smoothing: antialiased;
          background: #ecf0f1;
          font-family: 'Raleway';
        }

        h1 {
          text-align: center;
          font-weight: 100;
          font-size: 60px;
          color: #e74c3c;
        }

        .pc-tab {
          width: 100%;
          max-width: 700px;
          margin: 0 auto;
        }
        .pc-tab ul {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        .pc-tab ul li label {
          font-family: "Raleway";
          float: left;
          padding: 15px 25px;
          border: 1px solid #ddd;
          border-bottom: 0;
          background: #eeeeee;
          color: #444;
        }
        .pc-tab ul li label:hover {
          background: #dddddd;
        }
        .pc-tab ul li label:active {
          background: #ffffff;
        }
        .pc-tab ul li:not(:last-child) label {
          border-right-width: 0;
        }
        .pc-tab section {
          font-family: "Droid Serif";
          clear: both;
        }
        .pc-tab section div {
          padding: 20px;
          width: 100%;
          border: 1px solid #ddd;
          background: #fff;
          line-height: 1.5em;
          letter-spacing: 0.3px;
          color: #444;
        }
        .pc-tab section div h2 {
          margin: 0;
          font-family: "Raleway";
          letter-spacing: 1px;
          color: #34495e;
        }

        #tab1:checked ~ nav .tab1 label,
        #tab2:checked ~ nav .tab2 label,
        #tab3:checked ~ nav .tab3 label {
          background: white;
          color: #111;
          position: relative;
        }
        #tab1:checked ~ nav .tab1 label:after,
        #tab2:checked ~ nav .tab2 label:after,
        #tab3:checked ~ nav .tab3 label:after {
          content: '';
          display: block;
          position: absolute;
          height: 2px;
          width: 100%;
          background: #ffffff;
          left: 0;
          bottom: -1px;
        }

      </style>
    </head>
    <body>
    <%= yield %>

    </body>
    </html>
<%else%>
<!DOCTYPE html>
    <html>
    <head>
      <title><%= @title%> | ИГРОВОЙ СЕРВЕР SCUM </title>
      <%= csrf_meta_tags %>
      <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300i,400,700" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="shortcut icon" href="<%= image_path ('favicon.ico') %>">
    </head>

    <body>

    <%= render ('viewparts/header') %>
    <%= yield %>
    <%= render ('viewparts/footer') %>
    <%= javascript_include_tag 'godlike.min' %>
    <%= javascript_include_tag 'godlike-init' %>
    </body>
    </html>

<%end%>

